<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1 class="jumbotron text-center">Mission to Mars
      <br /><a class="btn btn-primary" href="/scrape" role="button">Scrape New Data</a>
    </h1>
      
      <!-- @TODO: write a for loop that lists out your data and accesses the values using dot notation. -->
{% if result_dict %}
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ result_dict['news'][0]['news_title'] }}</h3>
            <p class="card-text">{{ result_dict['news'][0]['news_p'] }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <br />
    </div>
    <div class="row">
      <div class="col-7">
        <h3>Featured Mars Image</h3>
        <div class="text-center"><img src="{{ result_dict['featured'][0]['img_url']}}" width=600 height=600 class="rounded" /></div>
      </div>
      <div class="col-5">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Current Weather on Mars</h3>
            <p class="card-text">{{ result_dict['weather'][0]['weather'] }}</p>
          </div>
        </div>
        <br />
        <table class="table table-striped">
          <tr>
            <th scope="col">Description</th>
            <th scope="col">Value</th>
          </tr>
          {% for k, v in result_dict['facts'][0].items() %}
          <tr>
            <td scope="row">{{ k }}</td>
            <td>{{ v }}</td>
          </tr> 
          {% endfor %}
        </table>

      </div>

      <div class="row text-center">
        <div class="col-12">
        
        {% for row in result_dict['hemispheres'] %}
        <div class="card m-1" style="display:inline-block;">
          <div class="card-body">
            <h5 class="card-title">{{row['title']}}</h5>
            <p class="card-text"><img src="{{row['img_url']}}" width=400 height=400 /></p>
          </div>
        </div>
        {% endfor %}
          </div>
        </div>

{% endif %}
  
  </div>  <!-- Main container -->
</body>

</html>