{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block page_title %}
{{pg_title}}
{% endblock %}

{% block content %}
<div id="plotname"></div>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris congue ante enim, eget varius sem venenatis nec.
Suspendisse porta tellus leo, eleifend fermentum ipsum dapibus convallis. Aenean varius suscipit sapien vitae tincidunt.
In id ullamcorper odio. Suspendisse malesuada, arcu eu sagittis sagittis, metus libero ultrices orci, sed sodales velit
est et purus. Cras pharetra purus vitae sapien varius, in congue tellus mattis. In imperdiet enim orci, id pharetra sem
luctus nec. Proin interdum eget enim tempor tempor. Suspendisse potenti. Ut eget nunc non ligula porta dictum vitae sit
amet urna. Etiam accumsan volutpat magna eget ullamcorper. Suspendisse id quam risus. Pellentesque habitant morbi
tristique senectus et netus et malesuada fames ac turpis egestas. Donec iaculis ex sit amet augue scelerisque, ut
finibus est finibus. Fusce laoreet massa eros, non dictum elit semper quis.

Curabitur augue sem, eleifend et porta et, placerat vitae tellus. Nam pulvinar sollicitudin lacus vel fermentum. Duis
auctor urna orci, nec placerat ligula eleifend id. Nulla velit nunc, placerat ut magna eget, volutpat semper lectus.
Etiam pulvinar augue non tellus vulputate eleifend. Suspendisse orci magna, lacinia id bibendum sit amet, mollis et
magna. Quisque ornare nisi velit, quis pellentesque tellus tempor non. Suspendisse at blandit urna. Donec ut orci nec
dolor eleifend imperdiet a id nulla. Aenean at tortor porta, efficitur leo ac, dictum enim. Cras feugiat, augue eu
consectetur sagittis, est nisl porttitor odio, vitae gravida est tellus vitae felis. Orci varius natoque penatibus et
magnis dis parturient montes, nascetur ridiculus mus. Etiam a pretium nunc.

Suspendisse eleifend justo mauris, a fringilla orci varius ac. Integer rhoncus, ex non lobortis posuere, massa est
pretium metus, vel accumsan lorem turpis nec nisi. Ut vel augue felis. Morbi vel congue odio. Praesent at lectus
fringilla, laoreet ex eu, maximus nibh. Vestibulum dapibus, magna vitae sollicitudin condimentum, justo ante sagittis
lorem, eget aliquam leo augue eleifend justo. Quisque efficitur, ligula sit amet vestibulum bibendum, urna massa
imperdiet felis, id ullamcorper augue lacus ac magna. Nunc commodo nunc urna, eu porta tellus convallis quis. Cras sed
sem ipsum. Nulla vitae eros ac massa interdum aliquet eu et libero.

Etiam eleifend semper rutrum. Nullam tempus lectus velit, non pulvinar nisl posuere eget. Nullam ac felis vel felis
interdum pellentesque. Sed dictum tempor mattis. Suspendisse vitae velit ultrices, laoreet nisi nec, cursus libero.
Praesent sed eros ut urna sollicitudin tincidunt in id erat. Etiam dignissim erat sit amet magna elementum faucibus.
Phasellus justo arcu, fringilla quis varius vitae, rutrum at libero. Pellentesque et dignissim metus.
{% endblock %}

{% block graph_js %}
{% endblock %}