{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin="" />
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.css" rel="stylesheet" />
<link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css"
    type="text/css" />
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block page_title %}
{{pg_title}}
{% endblock %}

{% block content %}

<div id="myDiv"></div>

{% endblock %}

{% block credits_content %}

<div class="row">
    <div class="col-md-12 text-center">
        <h4 class="text-uppercase mt-2">D3 Map</h4>
        <h4 class="text-uppercase mt-2">Mapbox</h4>
</div>
{% endblock %}

{% block graph_js %}


<!-- API key -->
<script type="text/javascript" src="{{ url_for('static',filename='js/trends.js') }}"></script>

{% endblock %}